@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */

:root {
   --primary-font: "Inter", sans-serif;
   --secondary-font: "Macondo", cursive;
   --primary-color: #3a2620; /* dark brown */
   --secondary-color: #aa9571; /* light brown */
   --highlight-color: #416a8e; /* blue */
   --highlight-color-light: #7a9fc2; /* light blue */
}

body {
   font-family: var(--primary-font);
}

h1,
h2,
h3 {
   font-family: var(--secondary-font);
   color: var(--primary-color);
}