@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */

:root {
	--primary-font: "Inter", sans-serif;
	--secondary-font: "Macondo", cursive;
	--primary-color: #3a2620;
	--secondary-color: #aa9571;
	--highlight-color: #416a8e;
	--highlight-color-light: #7a9fc2;
}

/* Global styles */

body {
	font-family: var(--primary-font);
}

h1,
h2,
h3 {
	font-family: var(--secondary-font);
	color: var(--primary-color);
}

h1,
h2 {
	text-transform: uppercase;
}

h2 {
	margin-bottom: 2rem;
}

.sub-heading-color {
	color: var(--highlight-color);
}

.section {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

/* grid visualisation for testing */

/* .container,
.row {
	border: 2px solid black;
}

.col-12 {
	border: 2px solid white;
	background-color: lightgray;
} */

/* Navbar */

#navbar {
	background-color: var(--primary-color);
}

#navbar .logo {
	width: 30px;
}

/* Header */

#header .lead {
	font-family: var(--secondary-font);
}

/* Services */

#services .card-footer {
	font-weight: bold;
	color: var(--highlight-color);
	background-color: transparent;
}

#services .card {
	margin-bottom: 1.5rem;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

	/* Make all service cards the same height */
	#services .card-body {
		min-height: 191px
	}
}

/* Large devices (small laptops, 992px and up) */
@media screen and (min-width: 992px) {

	/* Make all service cards the same height */
	#services .card-body {
		min-height: auto;
	}
}

/* XL devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

	/* Make all service cards the same height */
	#services .card-body {
		min-height: 220px;
	}
}

/* XXL devices (larger desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

	/* Make all service cards the same height */
	#services .card-body {
		min-height: 195px;
	}
}